.mainDataContainer {
  height: 100vh;
}

.prelimData {
  box-shadow: 0.3rem 0.3rem 3rem 0.1rem var(--royal-blue-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--faded-blue);
}

.prelimCityData {
  display: flex;
  flex-direction: column;
}

.cityAndCountry {
  display: flex;
  gap: 1rem;
}

.cityName {
  font-size: 2.5rem;
  font-family: var(--main-font);
}

.cityCountry {
  font-family: var(--secondary-font);
  font-size: 1.3rem;
}

.cityState {
  font-family: var(--detail-font);
}

.cityAqiData {
  background-color: var(--royal-blue-dark);
  color: #fff;
  font-size: 1.4rem;
  font-family: var(--secondary-font);
  padding: 1rem;
  border-radius: 0.3rem;
  width: 7.3rem;
  text-align: center;
}

.dataTableContainer {
  background-color: var(--royal-blue-dark);
  color: #fff;
  height: 60vh;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;

  /* padding: 1rem; */
}

th {
  text-align: start;
  padding: 0.4rem;
  font-family: var(--main-font);
  border-bottom: 3px solid #fff;
}

td {
  border-bottom: 3px solid #fff;
  padding: 0.4rem;
  font-family: var(--secondary-font);
}

.coverFoot {
  margin: 0;
  background-color: var(--faded-blue);
  height: 24%;
}
