@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

:root {
  --united-nations-blue: #5889e5ff;
  --faded-blue: rgba(88, 137, 229, 0.89);
  --gainsboro: #d7dedcff;
  --coyote-brown: #7a542eff;
  --bottle-green: #0b6e4fff;
  --royal-blue-dark: #001c55ff;
  --spanish-blue: #0571b0ff;
  --dark-sky-blue: #91c4dfff;
  --green-yellow-crayola: #ecec9dff;
  --light-salmon: #f4a380ff;
  --maximum-red: #cd3121ff;
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Bree Serif', serif;
  --detail-font: cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

main {
  background-color: var(--united-nations-blue);
  opacity: 0.8;
  background-image:
    repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 10px
    ),
    repeating-linear-gradient(#001c5555, #001c55);
}
